/* ESTILOS GLOBAIS */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --colorFirst: #604829;
    --colorSecond: #c4a47c;
}
.limit-width{
    max-width: 1024px;
    width: 100%;
    margin: 0px auto;
}
.parallax{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* 1 secao */
header{
    width: 100%;
    background-color: var(--colorFirst);
    position: fixed;
    z-index: 9;
}
.container-topo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-topo>div{
    width: 100px;
    height: 100px;
}
.container-topo>div img{
    width: 100%;
    height: 100%;
}
.unordered-list{
    list-style: none;
    display: flex;
    gap: 10px;
}
.unordered-list li a{
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    color: var(--colorSecond);
    font-size: 18px;
    letter-spacing: 2px;
    text-shadow: 2px 5px 2px black;
    font-weight: bold;
}
button{
    background-color: transparent;
    border: none;
}
/* 1 secao - menu */
button, .menu, .open, .unordered-list-mobile{
    display:  none;
}


/* 2 section */
.first-img-parallax{
    background-image: url(/assets/parallax-imagem1.png);
    
    display: flex;
    justify-content: center;
    align-items: center
}
.first-img-parallax, .fourth-img-parallax, .fifth-img-parallax{
    width: 100%;
    height: 100vh;
}
.banner{
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
    width: calc(100% - 40px);
    padding: 0px 20px;
}
.banner h1{
    font-size: 6.5rem;
    color: #fff;
    font-family: 'Fraunces', serif;
    letter-spacing: 2px;
    font-weight: 400;
    text-align: center;
}


/* seções 3, 5, 7 */
.section-infos{
    width: 100%;
    background-color: #fff;
    padding: 80px 0px;
}
.infos{
    text-align: center;
}
.infos h2{
    margin-bottom: 30px;
    font-family: "Oswald", sans-serif;
    letter-spacing: 2px;
    color: var(--colorSecond)
}
.infos p{
    font-family: 'Lato', sans-serif;
    width: 100%;
    padding: 0px 25px;
    letter-spacing: 1px;
    color: #666;
    line-height: 34px;
}


/* 4 secao */
.second-img-parallax{
    background-image: url(../assets/parallax-imagem2.jpg);
}
/* 6 secao */
.third-img-parallax{
    background-image: url(/assets/parallax-imagem3.jpg)
}
/* efeitos globais 4 e 6 secao */

.second-img-parallax, .third-img-parallax{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-img-parallax h3, .third-img-parallax h3{
    background-color: var(--colorFirst);
    color: #fff;
    font-style: italic;
    letter-spacing: 2px;
    font-weight: 400;
    padding: 5px 0px;
    max-width: 400px;
    width: calc(100% - 5px);
    text-align: center;
}


/* 8 SECAO */
.fourth-img-parallax{
    background-image: url(/assets/parallax-imagem4.png);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.fourth-img-parallax>div iframe{
    width: calc(100% - 6px);
    margin: 0px 3px;
    
}
.fourth-img-parallax h2{
    background-color: var(--colorFirst);
    font-family: "Oswald", sans-serif;
    color: #fff;
    font-weight: 400;
    letter-spacing: 2px;
    max-width: 500px;
    width: calc(100% - 10px);
    padding: 5px 0px;
}
.container-contacts{
    background-color: var(--colorFirst);
    color: #fff;
    font-family: "Oswald", sans-serif;
    padding: 5px 0px;
    max-width: 500px;
    width: calc(100% - 10px)
   
}
.container-contacts p{
    text-shadow: 3px 5px 5px  black;
    line-height: 36px;
}


/* 9 secao */
.fifth-img-parallax{
    background-image: url(/assets/parallax-imagem5.jpg);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    font-family: "Oswald", sans-serif;
}
.fifth-img-parallax h2{
    letter-spacing: 8px;
    width: calc(100% - 10px);   
}
.container-list{
    max-width: 768px;
    width: calc(100% - 10px)
}
.schedule-list li{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
ul li h3{
    flex: 0 1 90px;
    text-align: left;
}
ul li div{
    flex: 1 1 90px;
    background-color: white;
    height: 1px;
    margin: 0px 5px;
}
ul li p, span{
    text-align: right;
    flex: 0 1 90px;
}
@media (max-width: 730px){
    button, .menu{
      /*   visibility: visible; */
        display: inline-block;
    }
    .navigation-links{
        display: none;
    }
   .unordered-list-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin-bottom: 5px;
   }
/*    .unordered-list li{
    padding-bottom: 40px;
   } */
   .unordered-list-mobile li a{
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    color: var(--colorSecond);
    font-size: 18px;
    letter-spacing: 2px;
    text-shadow: 2px 5px 2px black;
    font-weight: bold;

   }
   .banner h1{
    font-size: 4rem
   }
}

@media(max-width: 467px){
    .banner h1{
        font-size: 1.8rem;
    }
}
@media (max-height: 667px ){
    .container-contacts p{
        font-size: 1rem;
    }
    /* .fourth-img-parallax .iframis{
        height: 100%;
    } */
    .iframis iframe{
        height: 50vh
        
    }
}